@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
:root {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: #ffffff;
}

* {
  box-sizing: border-box; /* 테두리 포함 크기 계산 */
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}